@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    position: absolute;
    top: 20px;
}

.quiz-container {
    width: 500px; /* Fixed width */
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.question {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #333;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.options li {
    font-size: 1rem;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    transition: background 0.3s;
}

.options li:hover {
    background-color: #f5f5f5;
}

.options li label {
    margin-left: 10px;
    font-weight: normal; /* Reduced weight for labels */
}

button {
    width: 100%;
    height: 3.5rem;
    margin-top: 20px;
    padding: 0;
    background-color: #333;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #222;
}

.result {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #333;
    font-weight: bold;
}


h1{
  margin-top: 50px;
}